{
    email prajwalparashkar100@gmail.com
}

http://localhost:9000 {
    route /api/* {
        reverse_proxy http://backend:8000
    }

    route /event_images/* {
        root * /backend/event_images
        file_server
        header Content-Type image/jpeg
    }

    route * {
        reverse_proxy http://frontend:3000
    }
}